# --- Node / Package Manager ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Builds / Caches ---
dist/
build/
.out/
.next/
.vite/
.vite-cache/
.netlify/
.vercel/
.cache/
coverage/

# --- Env Files ---
.env
.env.*
!.env.example

# --- OS / Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
